:80

handle_path /static/* {
    root * /usr/share/caddy/
    file_server
}


# Redirection to django
handle_path /admin* {
    reverse_proxy django:8000
    rewrite * /admin{uri}
}


handle_path /graphql* {
    reverse_proxy django:8000
    rewrite * /graphql{uri}
}


# redirect all remaining trafic to 3000
handle {
    reverse_proxy frontend:3000
}

# log  # if you need to display the logs
