:80

# Redirection to django
handle_path /admin* {
    reverse_proxy django:8000
    rewrite * /admin{uri}
}

handle_path /static/admin* {
    reverse_proxy django:8000
    rewrite * /static/admin{uri}
}

reverse_proxy /graphql* django:8000


# redirect all remaining trafic to 3000
handle {
    reverse_proxy frontend:3000
}

# log  # if you need to display the logs
